
/* Styles properties */
ion-content[_aio-A5C5420B] {
	background: #eeeeee;
	--background: #eeeeee;
}
div[_aio-B1DC52C7] {
	display: block;
	text-align: center;
}
div[_aio-EA9E6AD8] {
	display: block;
	text-align: center;
}
ngx-datatable[_aio-69266034] {
	margin-top:20px;
}
ion-toolbar[_aio-42C242FC] {
	--background: #E7343D;
}
ion-toolbar[_aio-7928AF8C] {
	--background: #eeeeee;
}